* {
    font-size: 105%;
    font-weight: 600;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* header stylings */
header {
    width: 100%;
}

#header_text {
    display: flex;
    flex-direction: column;

    justify-content: center;

    border-style: solid;

    margin: 10px;
}

#text_title, #text_subtitle {
    text-align: center;
}

/* header nav bar stylings */
#nav_bar_list {
    list-style-type: none;
    background-color: black;

    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#nav_bar_list li {
    color: white;
    text-align: center;
    text-decoration: none;

    padding: 10px;
}

#nav_bar_list li:hover {
    background-color: gray;
    color: black;
}

#nav_bar_list a {
    text-decoration: none;
}

#nav_bar_list li a:link, #nav_bar_list li a:visited {
    color: white;
}

/* search input stylings */
#tab_search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#search_input {
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-style: solid;

    padding: 10px;
}

#input_top_half {
    display: flex;
    justify-content: space-around;
}

#tab_journal, #tab_contacts {
    display: none;
}

/* journal stylings */
#tab_journal {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#journal_display {
    display: flex;
    justify-content: space-around;

    width: 100%;

    margin-top: 10px;
}

#journal_entry {
    display: flex;
    flex-direction: column;

    margin-left: 20px;
}

#journal_news_results {
    width: 100%;
}

#entry_header {
    display: flex;
    justify-content: space-around;
}

#entry_title {
    margin-right: 5px;
}

#entry_text {
    margin-top: 10px;
    height: 100%;
}

#results_outputs {
    height: 400px;
    width: 100%;

    border-style: solid;
    margin-right: 20px;
}

/* contacts stylings */
#placeholder_box_contacts {
    height: 100%;
    width: 40%;

    background-color: cyan;
}

#contacts_display {
    display: grid;
    grid-template-columns: auto auto;
}

#contact_text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 50%;

    margin-left: 10px;
}

#contact_links {
    display: flex;
    justify-content: space-between;
}

.contact_box {
    height: 300px;
    width: 500px;

    margin: 5px;

    display: flex;
    justify-content: space-between;

    border-style: solid;
}

/* footer stylings */
footer {
    display:flex;
    position:fixed;
    width:100%;
    bottom:0px;
    border-style: solid;
}

footer p {
    color: grey;
    margin:20px;
}

